<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.wisdomrider.lazylibrary">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>





    <application>
        <receiver
                android:name=".IncomingSms"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
